031.Restricciones2/simple2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Libro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Titulo" type="xs:string"/>
        <xs:element name="Autor" type="xs:string"/>
        <xs:element name="Fecha" type="xs:string"/>
        <xs:element name="ISBN" type="xs:string"/>
        <xs:element name="Editorial" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
